<!DOCTYPE html>
<html lang="pt-br">
  <%- include('parts/head'); %>
  <body >
    <%- include('parts/navbar'); %>
    <main class="container">
      <h4 class='title text-center my-3'>Restaurantes Cadastrados</h4>
      <div class="row">
        <% for(r of restaurantes) { %>
          <div class="card col-3 mx-2 p-0">
            <div class="card-header">
              <%= r.nomefantasia %>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">CNPJ: <%= r.cnpj %></li>
              <li class="list-group-item">Telefone: <%= r.ddi %> <%= r.ddd %> <%= r.numero_telefone %></li>
              <li class="list-group-item">Email: <%= r.enderecoemail %></li>
              <li class="list-group-item">Horário de funcionamento: <%= r.horariofuncionamento %> às <%= r.horariofechamento %></li>
              <li class="list-group-item" style="font-weight:bold">Endereço</li>
              <li class="list-group-item">CEP: <%= r.cep %></li>
              <li class="list-group-item">Pais: <%= r.pais %></li>
              <li class="list-group-item">Cidade: <%= r.cidade %></li>
              <li class="list-group-item">Bairro: <%= r.bairro %></li>
              <li class="list-group-item">Logradouro: <%= r.logradouro %></li>
              <li class="list-group-item">Complemento: <%= r.complemento %></li>
            </ul>
            <a href="/cnpj/pratos" class="btn-primary w-100 p-2 text-center">Ver Pratos</a>
          </div>
        <% } %>
      </div>
    </main>
    <%- include('parts/foot'); %>
    </div>
  </body>
</html>
